<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BoschAssignmt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FD0C63CF1E14395100F14C66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD0C63E61E14395100F14C66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD0C63F11E14395100F14C66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
